{% extends 'base.html' %}
{% block content %}

<div class="row">

    <!-- CARD 1 -->
    <div class="col s12 m4">
        <div class="card stats-card">
            <div class="card-content center">
                <h6>Total Registered Employees</h6>
                <h4>{{ empcount }}</h4>
            </div>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="col s12 m4">
        <div class="card stats-card">
            <div class="card-content center">
                <h6>Listed Departments</h6>
                <h4>{{ dptcount }}</h4>
            </div>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="col s12 m4">
        <div class="card stats-card">
            <div class="card-content center">
                <h6>Leave Types</h6>
                <h4>{{ leavtypcount }}</h4>
            </div>
        </div>
    </div>

</div>


<!-- TABLE -->
<div class="row">

    <div class="col s12">

        <div class="card">
            <div class="card-content">

                <h5>Latest Leave Applications</h5>

                <table id="leaveTable" class="striped highlight">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Employee Name</th>
                            <th>Leave Type</th>
                            <th>Posting Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for result in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>
                                {{ result.staff_id.admin.first_name }}
                                {{ result.staff_id.admin.last_name }}
                            </td>

                            <td>{{ result.leave_type }}</td>
                            <td>{{ result.created_at }}</td>

                            <td>

                                {% if result.status == 1 %}
                                    <span class="green-text">Approved</span>

                                {% elif result.status == 2 %}
                                    <span class="red-text">Rejected</span>

                                {% else %}
                                    <span class="blue-text">Pending</span>
                                {% endif %}

                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="center">No data available</td>
                        </tr>
                        {% endfor %}

                    </tbody>

                </table>

            </div>
        </div>

    </div>

</div>

{% endblock %}
